/* DESKTOP*/
@font-face {
    font-family:rain;
    src:url(../Falling-Rain.ttf);
}

body {
    margin:0;
    width:100%;
    /*background-image:url("..//Instagram/background.png");*/
    background-color: lightslategrey;
}

img#banner {
    width:100%;
}

img#me {
    width:25%;
}

h1, h2, h3, h4 {
    color:lightgrey;
    font-family:rain;
}

ul {
    list-style-type:circle;
}

a:hover {
    color: darkslategrey;
}

a:visited {
    color:lightslategrey
}

p {
    width:50%;
    color: whitesmoke;
}

/* MOBILE */

@media only screen and (max-width:500px) {
    
    body {
        width: 80%;
        padding: 2%, 2%;
    }
    
    img {
        75%;
    }
}