/* DESKTOP*/
/*@font-face {
    font-family:rain;
    src:url(../FallingRain.ttf);
}*/

@font-face {
    font-family:phoenix;
    src:url(../PhoenixScriptFLF.ttf);
}

@font-face {
    font-family:old;
    src:url(../OldTypefaces.ttf);
}

body {
    margin:0;
    width:100%;
    background-image:url("..//images/BG2.png");
    background-color: dimgrey;
}

/*IMAGES*/
img#banner {
    width:100%;
}

img#me {
    width:20%;
    display: block;
    margin:auto;
    padding: 5px;
    border-style: double;
    border-color: #4d4a55;
}

/*TEXT*/
h1, h2, h3, h4 {
    margin: 5px 0 15px 0;
    color: #500007;
    font-family:phoenix;
    font-weight: 300;
}

h1, h2 {
    text-align: center;
    font-size: 3em;
}

h1 {
    border-bottom-width: 100%;
    border-bottom-style: double;
    border-bottom-color: #4d4a55;
}

h2 {
    margin-top: 10px;
    margin-bottom: -.3em;
    padding-bottom: -2em;
}

h4 {
    font-size:1.5em;
    text-decoration: underline;
    text-decoration-color: #500007;
    color: #500007;
}

p {
    margin:15px;
    width:50%;
    font-family: 'Crimson', serif;
    line-height: 1em;
    letter-spacing: 1px;
    color: honeydew;
}

/*SECTION STYLING*/
section {
    width: 25%;
    display:inline-table;
}

section#about {
    width:100%;
    align-content: center;
}

section#about p {
    text-align: left;
    text-align-last: inherit;
    align-content: center;
    margin-left: 25%;
}

section#introtowork {
    width: 60%;
    margin-left: 20%;
    border-top-style: double;
    border-color: #4d4a55;
}

section#introtowork p {
    width: 65%;
    margin-top: 1%;
    margin-left: 17%;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: black;
}

section#exercises{
   margin-left: 20%;
    margin-right: 15%;
}

/*LISTS*/
ul {
    list-style-image: url(..//images/Rainbullet.png);
    left:10%;
    color: black;
    font-weight: 100;
}

/*LINKS*/
a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

a:visited {
    color: #500007; 
}

/*FOOTER*/
footer {
    /*margin: 1%;*/
    text-align: center;
    align-content: center;
    border-top-style: double;
    border-top-color: #4d4a55;
}

footer p {
    position: relative;
    left: 24%;
}

footer a, footer a:visited {
    background-color: purple;
    color: whitesmoke;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

/* MOBILE */
@media only screen and (max-width:500px) {
    
    body {
        margin: 0;
        width: 100%;
        padding: 2% 2%;
    }
    
    /*TEXT*/
    h1 {
        text-align: left;
        font-size: 2.2em;
    }
  
    h2 {
        text-align: left;
        margin-top: -2.4em;
        margin-bottom: 2px;
        font-size: 2em;
    }
    
    /*IMAGES*/
    img {
        width: 100%;
    }
    
    img#me {
        visibility: hidden;
    }
    
    /*SECTION STYLING*/
   section#about p {
        width:80%;
        margin: 10px;
        font-size: 1em;
        font-family: old, sans-serif;
        color:black;
    }
    
    section#introtowork {
        width: 60%;
        margin-left: 10%;
        align-content: center;
    }
    
    section#introtowork p {
        width: 85%;
        margin: 0;
        text-align: center;
    }
    section#exercises {
        width: 50%;
        display: inline-table;
    }
    
    section#projects {
        width: 50%;
        margin-left: 20%;
    }
    
    /*FOOTER*/
    footer  {
        width: 100%
    }
    
    footer h4 {
        font-size: 1.1em;
        margin-bottom: -.5em;
    }
    
    footer p {
        width: 100%;
        margin-top: .5em;
        align-content: center;
        line-height: 2.5em;
        text-align: left;
        font-size: 1em;
    }
    
    footer a, footer a:visited {
        padding: 2%;
    }
}