@font-face {
    font-family:bromello;
    src:url(../bromello.ttf);
}
@font-face {
    font-family:London;
    src:url(../LondonMM.ttf);
}
@font-face {
    font-family:LondonB;
    src:url(../LondonBetween.ttf);
}
body {
    width:100%;
    margin: 0;
        background-image:url("../images/newbackground.png");
        background-repeat:repeat-y;
        background-position:center;
        background-size: contain;
    background-color:aliceblue;  
}
img#banner1 {
    width:100%;
    margin: 0;
}
img#image1 {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    
}
img#image2 {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    
}
img#banner2 {
    width:100%;
    margin: 0;
}
h4 {
    text-align: center;
}
p {
    width:55%;
    font-family: London;
    padding-left: 22%;
    text-indent: 1em;
    line-height: 1.4;
}
p#lyrics {
    font-family:LondonB;
    text-align:center;
    text-indent: 0;
    font-style: italic;
}