/*DESKTOP LAYOUT*/

@font-face {
    font-family: indira;
    src:url(../fonts/indira.ttf);
}

body {
    margin:0;
    width:100;
    background-color:#0c001d;
    background-position: center;
    background-repeat: no-repeat;
}

/*NAVIGATION*/
nav {
    position:relative;
    float:left;
    margin: 0;
    width: 17%;
    padding: 10px 5px 10px 15px;
    height: 200vh;
}
ul {
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
    background-color: azure;

}

li a {
    display: block;
    color: #0c001d;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0c001d;
    color: azure;
}

/*IMAGES*/

img#banner {
    margin-left: 10px;
    width: 80%;
}

/*TEXT*/

h2, h3 {
    color: azure;
    text-align: center;
    font-family: indira;
    font-size: 4em;
}

p {
    margin-left: 25%;
    width: 60%;
    text-align: justify;
    font-family: indira;
    color: azure;
}

/*PDF LINKS*/

article a {
    display: block;
    width: 100px;
    margin-left: 50%;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: azure;
    color: #0c001d;
    text-decoration: none;
    text-align: center;
}

article a:hover {
    background-color: black;
    color: azure;

}

/*MOBILE LAYOUT*/
@media only screen and (max-width:500px) {

    body {
        margin: 0;
        width: 100%;
    }
    
    nav {
        width: 10%;
        height: 20vh;
    }

    img {
        visibility: hidden;
    }

    h2, h3 {
        font-size: 2em;
    }

    p {
        width: 80%;
        margin: 5px 10px 5px 10px;
        font-size: 1em;
    }
    
    article {
        width: 25%;
        margin-left: 10%;
    }

}